@import "../../index.scss";

.buttons-section {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  box-shadow: inset 0 0 15px 6px var(--light-grey);
  border: none;

  &__button {
    border-radius: 20px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
    border: none;
    background-color: var(--primary-yellow);
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    font-style: normal;
    font-family: "Open Sans", sans-serif;
  }
  &__button:last-child {
    background-color: var(--light-grey);
  }
}
