.stories-wrapper {
  box-shadow: 0px 0px 15px 15px var(--light-grey);
  text-align: justify;
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}
