.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}

@mixin flexCenter {
  justify-content: center;
  align-items: center;
}

@mixin mobileStyle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-gap: 50px;
}

@mixin cardButtons {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  top: -8px;
  right: -8px;
}

:root {
  --light-grey: #f2f2f2;
  --primary-yellow: #fbc91b;
  --primary-text: #000000d1;
  --overlay-grey: #00000080;
}
